@model Vidly.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "CustomerForm";
}

<h2>Customer Form</h2>
@using (Html.BeginForm("Save", "Customer"))
{
    @Html.ValidationSummary(true, "Please fix your errors!")
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.CustomerName)
        @Html.TextBoxFor(m => m.Customer.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.CustomerName)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipType, "Id", "MembershipName"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <br/>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.DateOfBirth)
        @Html.TextBoxFor(m => m.Customer.DateOfBirth, "{0: d-MMM-yyyy}", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Customer.DateOfBirth)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipType, "Id", "MembershipName"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <br />
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribe to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(c => c.Customer.CustomerID)
    @Html.AntiForgeryToken()
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
