@model Vidly.Models.Movie
@{
    ViewBag.Title = "MovieDetail";
}

<h2>Movie Detail</h2>

<p>
    <h3> @Model.MovieName</h3>

    <li>
        Genre: @Model.Genre.Name
    </li>

    <li>
        Release Date: @Model.ReleaseDate.ToString("ddddddd, dd-MMM-yyyy")
    </li>

    <li>
        Date Added: @Model.DateAdded.ToShortDateString()
    </li>

    <li>
        Number of Copies: @Model.NumberOfCopies
    </li>


</p>



